In [2]:
def add():
    a=int(input("enter number of a:"))
    b=int(input("enter number of b:"))
    print(a+b)
add()

enter number of a: 10
enter number of b: 20

30

In [3]:
add()
add()
add()

enter number of a: 10
enter number of b: 30

40

enter number of a: 10
enter number of b: 20

30

enter number of a: 10
enter number of b: 30

40

In [4]:
def add():
    a=int(input("enter a value of a is:"))
    b=int(input("enter a value of b is:"))
    print(a+b)

def prod():
    a=int(input("enter a value of a is:"))
    b=int(input("enter a value of b is:"))
    print(a*b)
add()
prod()

enter a value of a is: 20
enter a value of b is: 10

30

enter a value of a is: 30
enter a value of b is: 20

600

In [5]:
print(add())

enter a value of a is: 10
enter a value of b is: 20

30
None

In [7]:
def prod():
    n1=3
    n2=5
    return n1*n2
prod()
prod()

15

In [8]:
k=prod()
print(k)

15

In [9]:
print(prod())

15

In [11]:
def add(a,b):
    return a+b
s=add(10,20)
print(s-10)

20

In [13]:
def add(x,y,z):
    return x+y+z
add(3,2,4)

9

In [16]:
#positional arguments
def student(name,m1,m2):   #positional argument
    print("welcome " + name)
    print("your score is:"+ str(m1+m2))
student("ravi",50,50)   #positional argument

welcome ravi
your score is:100

In [21]:
#keyword argument
def student(name,m1,m2):
    print("welcome "+name)
    print("your score is:"+str(m1+m2))
student(name="ravi",m1=50,m2=50)

welcome ravi
your score is:100

In [22]:
def welcomestudent(name):
    print("welcome "+name)
welcomestudent("anand")

welcome anand

In [24]:
def welcomestudent(name= 'guest'):   #default argument
    print("welcome "+ name)
welcomestudent("anand")
welcomestudent

welcome anand

In [29]:
def welcomestudent(m1,m2=0,name= 'guest'):
    print("welcome "+name)
welcomestudent(20,30,"anand")
welcomestudent(30)

welcome anand
welcome guest

In [1]:
def m1():
    a=int(input("enter a value of a:"))
    b=int(input("enter a value of b:"))
    print(a+b)
    print(abs(a-b))
    print(a*b)
m1()

enter a value of a: 20
enter a value of b: 30

50
10
600

In [24]:
def prod():
    l=float(input("enter a value of length:"))
    w=float(input("enter a value of width:"))
    h=float(input("enter a value of height:"))
    return l*w*h
prod()

enter a value of length: 2.75
enter a value of width: 1.80
enter a value of height: 1.40

6.93

In [25]:
def division():
    n=int(input("enter a value of numerator of n:"))
    d=int(input("enter a value of denominator of d:"))
    return n//d
division()

enter a value of numerator of n: 20
enter a value of denominator of d: 3

6

In [26]:
def sqrt():
    a=int(input("enter a value of a is:"))
    return a*a
sqrt()

enter a value of a is: 8

64

In [37]:
def prod():
    r=float(input("enter a value of radius is:"))
    return 2*3.14*r
prod()

enter a value of radius is: 4.5

28.26

In [39]:
def area():
    b=float(input("enter a value of b:"))
    h=float(input("enter a value of h:"))
    return (1/2*(b*h))
area()

enter a value of b: 13
enter a value of h: 15

97.5

In [44]:
def km():
    km=float(input("enter a value of km is:"))
    print(km*0.621371)

def miles():
    miles=float(input("enter a value of miles is:"))
    print(miles*1.60934)
km()
miles()

enter a value of km is: 44.2

27.4645982

enter a value of miles is: 33.5

53.91289

In [47]:
def fahrenheit():
    c=float(input("enter a value of celsius is:"))
    return (c*9/5)+32
fahrenheit()

enter a value of celsius is: 1

33.8

In [51]:
def swap():
    a=int(input("Enter a value:"))
    b=int(input("Enter a value:"))
    a=a+b
    b=a-b
    a=a-b
    print(a)
    print(b)
swap()

Enter a value: 10
Enter a value: 30

30
10

In [54]:
def temp():
    a = int(input())
    b = int(input())
    temp = a
    a = b
    b = temp
    print("a =",a, "b =",b)
temp()

 55
 42

a = 42 b = 55

In [55]:
def temp():
    a = int(input())
    b = int(input())
    temp = a
    a = b
    b = temp
    return ("a =",a, "b =",b)
temp()

 55
 42

('a =', 42, 'b =', 55)

In [56]:
def overflow():
    a=int(input("a is:"))
    b=int(input("b is:"))
    a,b=b,a
    print(a,b)
overflow()

a is: 30
b is: 60

60 30

In [61]:
def random():
    import random
    int=random.randint(1,100)
    print(int)
random()

66

In [62]:
def random():
    import random
    int=random.randint(1,100)
    return (int)
random()

27

In [63]:
def acre():
    Length=int(input("Enter a value:"))
    Width=int(input("Enter a value:"))
    sqrt=Length*Width
    print('sqrt=',sqrt)
    Acres = sqrt/43560
    print('Acres=',Acres)
acre()

Enter a value: 1500
Enter a value: 1200

sqrt= 1800000
Acres= 41.32231404958678

In [65]:
def num():
    n=int(input("value of n is:"))
    return (n*(n+1)/2)
num()

value of n is: 22

253.0

In [68]:
def avg(m1,m2,m3):                             #positional arguments
    sum=m1+m2+m3
    print("sum of subjects is = ",sum)
    average=sum/3
    print("average of mark is = ",average)
avg(60,50,75)

sum of subjects is =  185
average of mark is =  61.666666666666664

In [69]:
def student(m1,m2,m3):
    sum=m1+m2+m3
    print("total mark of student is = ",sum)
    average=sum/3
    print("average of mark of student is = ",average)
student(m1=60,m2=50,m3=75)            #keyword arguments

total mark of student is =  185
average of mark of student is =  61.666666666666664

In [1]:
def si():
    principle=float(input("Enter a amount of principle:"))
    time=float(input("Enter a time:"))
    rate=float(input("Enter a rate:"))
    simple_intrest=(principle*time*rate)/100
    print('simple intrest is=',simple_intrest)
si()

Enter a amount of principle: 5000
Enter a time: 4
Enter a rate: 5

simple intrest is= 1000.0

In [2]:
def bmi():
    Height=float(input("Enter a height in meter:"))
    Weight=float(input("Enter a weight in km:"))
    BMI=Weight/Height*Height
    print('BMI is=',BMI)
bmi()

Enter a height in meter: 40.8
Enter a weight in km: 55.8

BMI is= 55.8

In [10]:
def student(rollno,name,m1,m2,m3):
    print("enter a roll no: "+ str(rollno))
    print("enter your name: "+ name)
    sum=m1+m2+m3
    print("mark of a student is: ",sum)
    average=sum/3
    print("average mark is: ",average)
student(2828,"nandhini",m1=70,m2=88,m3=60)

enter a roll no: 2828
enter your name: nandhini
mark of a student is:  218
average mark is:  72.66666666666667

In [14]:
def num():
    n=int(input())
    if(n>0):
        print("positive")
    elif (n<0):
        print("negative")
    else:
        print("zero")
num()

 25

positive

In [18]:
def equal():
    a=int(input())
    b=int(input())
    if(a==b):
        print("the value of a and b is equal")
    elif (a!=b):
        print("the value of a and b is not equal")
    
equal()

 88
 88

the value of a and b is equal

In [19]:
def equal():
    a=int(input())
    b=int(input())
    if(a==b):
        return ("the value of a and b is equal")
    elif (a!=b):
        return ("the value of a and b is not equal")
    
equal()

 88
 88

'the value of a and b is equal'

In [22]:
def num():
    n=int(input())
    if(n%2==0):
        print("it is even number")
    elif (n%2!=0):
        print("it is odd number")
num()

 8

it is even number

In [23]:
def num():
    n=int(input())
    if(n%2==0):
        return ("it is even number")
    elif (n%2!=0):
        return ("it is odd number")
num()

 7

'it is odd number'

In [26]:
def year():
    y=int(input("enter a leap year:"))
    if(y%4==0):
        print("it is a leap year")
    elif (y%100!=0):
        print("its not a leap year")
year()

enter a leap year: 2000

it is a leap year

In [27]:
def year():
    y=int(input("enter a leap year:"))
    if(y%4==0):
        return ("it is a leap year")
    elif (y%100!=0):
        return ("its not a leap year")
year()

enter a leap year: 2023

'its not a leap year'

In [28]:
def vote():
    age=int(input("enter your age is: "))
    if(age>18 and age<100):
        print("she is eligible can vote")
    else:
        print("she is not eligible can vote")
vote()

enter your age is:  21

she is eligible can vote

In [29]:
def vote():
    age=int(input("enter your age is: "))
    if(age>18 and age<100):
        return ("she is eligible can vote")
    else:
        return ("she is not eligible can vote")
vote()

enter your age is:  17

'she is not eligible can vote'

In [33]:
def height():
    h=float(input("enter your height: "))
    if(h>=150 and h<=185):
        print("tall")
    elif (h>=115 and h<=135):
        print("medium")
    elif (h>80 and h<=110):
        print("short")
height()

enter your height:  165

tall

In [34]:
def height():
    h=float(input("enter your height: "))
    if(h>=150 and h<=185):
        return ("tall")
    elif (h>=115 and h<=135):
        return ("medium")
    elif (h>80 and h<=110):
        return ("short")
height()

enter your height:  125

'medium'

In [36]:
def num():
    a=int(input())
    b=int(input())
    c=int(input())
    if(a>b and b<c):
        print("a is larger")
    elif b<a and b>c:
        print("b is larger")
    elif c<a and c<b:
        print("c is larger")
    else:
        print("smaller")
num()

 20
 10
 30

a is larger

In [37]:
def num():
    a=int(input())
    b=int(input())
    c=int(input())
    if(a>b and b<c):
       return ("a is larger")
    elif b<a and b>c:
        return ("b is larger")
    elif c<a and c<b:
        return ("c is larger")
    else:
        return ("smaller")
num()

 30
 10
 50

'a is larger'

In [1]:
def small():
    a=int(input())
    b=int(input())
    c=int(input())
    if(a<b and b>c):
        print("a is smaller")
    elif (b>a and b>c):
        print("b is smaller")
    elif (c>a and c<b):
        print("c is smaller")
    else:
        print("larger")
small()

 5
 8
 7

a is smaller

In [7]:
def small():
    a=int(input())
    b=int(input())
    c=int(input())
    if(a<b and b>c):
        return ("a is smaller")
    elif (b>a and b<c):
        return ("b is smaller")
    elif (c<a and c<b):
        return ("c is smaller")
    else:
        return ("larger")
small()

 4
 7
 9

'b is smaller'

In [9]:
def large():
    a=int(input("enter a value of a is: "))
    b=int(input("enter a value of b is: "))
    c=int(input("enter a value of c is: "))
    d=int(input("enter a value of d is: "))
    if(a>=b and a>=c):
        print("a is larger")
    if b>=a and b>=c:
        print("b is larger")
    if c>=a and c>=d:
        print("c is larger")
    if d>=a and d>=c:
        print("d is larger")
large()

enter a value of a is:  90
enter a value of b is:  660
enter a value of c is:  1000
enter a value of d is:  88

c is larger

In [13]:
def closer():
    a=int(input("enter a value of a:"))
    b=int(input("enter a value of b:"))
    c=int(input("enter a value of c:"))
    abdiff=abs(a-b)
    bcdiff=b-c
    acdiff=a-c
    small=abdiff
    if(small>bcdiff):
        small=bcdiff
    if(small<acdiff):
        small=acdiff
    if(small==abdiff):
        print("a and b is closure to eachother")
    if(small==bcdiff):
        print("b and c is closure to eachother")
    if(small==acdiff):
        print("a and c is closure to eachother")
closer()

enter a value of a: 30
enter a value of b: 80
enter a value of c: 60

b and c is closure to eachother

In [14]:
def closer():
    a=int(input())
    b=int(input())
    c=int(input())
    abdiff=abs(a-b)
    bcdiff=b-c
    acdiff=a-c
    small=abdiff
    if(small>bcdiff):
        small=bcdiff
    if(small<acdiff):
        small=acdiff
    if(small==abdiff):
        return ("a and b is closure to eachother")
    if(small==bcdiff):
        return ("b and c is closure to eachother")
    if(small==acdiff):
        return ("a and c is closure to eachother")
closer()

 30
 80
 60

'b and c is closure to eachother'

In [15]:
def farther():
    a=int(input())
    b=int(input())
    c=int(input())
    abdiff=a-b
    bcdiff=b-c
    acdiff=a-c
    large=abdiff
    if(large>bcdiff):
        large=bcdiff
    if(large>acdiff):
        large=acdiff
    if(large==abdiff):
        return ("a and b is farther to eachother")
    if(large==bcdiff):
        return ("b and c is farther to eachother")
    if(large==acdiff):
        return ("a and c is farther to eachother")
farther()

 30
 80
 60

'a and b is farther to eachother'

In [16]:
def triangle():
    a=int(input("enter a value of a: "))
    b=int(input("enter a value of b: "))
    c=int(input("entrt a value of c: "))
    if(a==b and b==c and c==a):
        return ("it is a triangle")
    else:
        return ("its not a triangle")
triangle()

enter a value of a:  60
enter a value of b:  60
entrt a value of c:  60

'it is a triangle'

In [17]:
def graph():
    x=int(input("enter a value of x: "))
    y=int(input("enter a value of y: "))
    if(x>0 and y>0):
        return ("first quadrant")
    if(x>0 and y<0):
        return ("second quadrant")
    if(x<0 and y<0):
        return ("third quadrant")
    if(x<0 and y>0):
        return ("fourth quadrant")
    if(x==0 and y!=0):
        return ("fifth quadrant")
    if(x!=0 and y==0):
        return ("sixth quadrant")
    if(x==0 and y==0):
        return ("seventh quadrant")
    else:
        return ("invalid")
graph()

enter a value of x:  -3
enter a value of y:  7

'fourth quadrant'

In [20]:
def vowel(ch):
    if(ch=='a'):
        return ("vowel")
    elif ch=='e':
        return ("vowel")
    elif ch=='i':
        return ("vowel")
    elif ch=='o':
        return ("vowel")
    elif ch=='u':
        return ("vowel")
    else:
        return ("consonant")


ch=input()
vowel(ch)

 i

'vowel'

In [ ]:
def shape():

In [28]:
def iseven(n):
    if n%2==0:
        return True
    return False

In [29]:
def iseven(n):
    return n%2==0

In [27]:
def printeven():
    for i in range(1,11):
        if iseven(i)==False:
            print(i)
printeven()

1
3
5
7
9

In [32]:
def shape(s):
    if(s==1):
        return ("line")
    elif s==3:
        return ("triangle")
    elif s==4:
        return ("square")
    else:
        return ("no shape")



s=int(input())
shape(s)

 4

'square'

In [34]:
def days(month):
    if(month=="january"):
        return ("31 days")
    else:
        return ("28 days")


month=("january","febrauary","march","april","may","june","july","august","september",
       "october","november","december")
days(month)

'28 days'

In [40]:
def week(days):
    if(days%7==1):
        return ("monday")
    else:
        return ("tuesday")

days=int(input())
week(days)

 22

'monday'

In [41]:
def length(a,b,c):
    if(a==b and b==c and c==a):
        return ("equilateral")
    elif (a==b and b!=c and c==a):
        return ("isosceles")
    elif (a!=b and b!=c and c!=a):
        return ("scalene")

a=int(input())
b=int(input())
c=int(input())
length(a,b,c)

 60
 60
 60

'equilateral'

In [2]:
def profit():
    cost=800
    selling=1000
    profit=selling-cost
    
    if profit>0:
        print(f"profit: {profit}")
    elif profit<0:
        print(f"loss: {abs(profit)}")
    else:
        print("break")


profit()

profit: 200

In [3]:
def student(mark):
    
    if(mark>80 and mark<=100):
        return ("A grade") 
    elif mark>70 and mark<=80:
        return ("B grade") 
    elif mark>50 and mark<=80: 
        return ("C grade") 
    elif mark>40 and mark<=50: 
        return ("D grade") 
    elif mark>30 and mark>=40: 
        return ("F grade") 
    else: 
        return ("fail")

mark=int(input("enter a value: "))
student(mark)

enter a value:  80

'B grade'

In [4]:
def simple(num1,num2):
    op= input('Input an operator(+, -, *, /, %):')
    if op=='+':
        add=num1 + num2
        return (f"result: {add}")
    elif op=='-':
        sub=num1 - num2
        return (f"result: {sub}")
    elif op=='*':
        mul=num1 * num2
        return (f"result: {mul}")
    elif op=='/':
        div=num1 / num2
        return (f"result: {div}")
    elif op=='%':
        mod=num1 % num2
        return (f"result: {mod}")
    else:
        return ("invalid")

num1= float(input("enter a value:"))
num2= float(input("enter a value:"))
simple(num1,num2)

enter a value: 54
enter a value: 6
Input an operator(+, -, *, /, %): *

'result: 324.0'

In [6]:
def game(rock,paper,scissors):
    
    if user==rock and computer==scissors:
        return ("rock beat scissors")
    elif user==paper and computer==rock:
        return ("paper beats rock")
    elif user==scissors and computer==paper:
        return ("scissors beat paper")
    elif user==computer:
        return ("it is tie")
    else:
        return ("you lose")

import random
rock=1
paper=2
scissors=3

user=int(input("enter your choice(1.rock,2.paper,3.scissors):"))
computer=random.randint(1,3)
game(rock,paper,scissors)

enter your choice(1.rock,2.paper,3.scissors): 2

'paper beats rock'

In [10]:
def value(n):
    n=10
    for i in range(1,n+1):
        print(i)



value(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
##doc string


def add(a=0,b=0):
    '''input a and b value both are positive integer
    it will return sum of both numbers for ex: a=3,
    b=5 it return 8 as output default value is a=0,
    b=0 both default it will return -1
    '''
    if a==0 and b==0:
        return -1
    return a+b

add(a=0,b=0)

-1

In [5]:
###variable length argument(*argument non keyword)

def add(*number):
    for i in number:
        print(i)

add(3,7,9,12,30)

3
7
9
12
30

In [7]:
def sum(*number):
    res=0
    for i in number:
        res=res+i
    return res

sum(1,2,3,4,5)

15

In [8]:
###variable length argument(** keyword)

def show_info(**details):
    for key,value in details.items():
        print(f"{key}:{value}")

show_info(name="anand",age=38,city="chennai")

name:anand
age:38
city:chennai

In [9]:
def show_info(**details):
    for key,value in details.items():
        print(f"{key}")

show_info(name="anand",age=38,city="chennai")

name
age
city

In [10]:
def show_info(**details):
    for key,value in details.items():
        print(f"{value}")

show_info(name="anand",age=38,city="chennai")

anand
38
chennai

In [11]:
###scope of variable

def demo():
    a=10  #local variable
    print(a)

demo()
print(a)

10

NameError: name 'a' is not defined

In [12]:
b=10
def demo2():
    print(b)  #global variable
demo2()
print(b)

10
10

In [13]:
c=10
def demo3():
    c=5           ##global with local variable
    print(c)

demo3()
print(c)

5
10

In [14]:
d=20
def demo4():
    global d
    d=5
    print(d)

demo4()
print(d)

5
5

In [18]:
a=int(input())
b=int(input())
def demo1():
    print(a+b)
demo1()

 20
 30

50